body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategrey;
}
#wrapper{
    background:white;
    width: 1000px;
    border: 0px solid black;
    margin:auto;
    padding: 0;
}

#header{
    background-color: crimson;
    height: 80px;
}
#header h1{
    padding: 25px 0 0 20px;
    color: white;
}

#menu{
    background-color: lightsalmon;
}
#menu li{
    display: inline-block;
}
#menu li a{
    display: block;
    padding: 10px 13px;
    text-decoration: none;
    color: black;
}
#menu li a:hover{
    background-color: crimson;
    color: white;
    border: 0px solid rgb(223, 209, 209);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#menu ul{
    margin: 0;
}
#content{
    width: 800px;
    padding: 15px;
    min-height: 500px;
    box-sizing: border-box;
    position: relative;  
    float: left; 
}

#sidebar{
      background-color: lightblue;
      width: 200px;
      float:right;
      min-height: 500px;
}

#sidebar li a{
    text-decoration: none ;
    color: black;
}

#sidebar li a:hover{
    text-decoration: underline;
    color: rgb(230, 119, 29)
}

#sidebar li{
    list-style-type: none;
}

#footer{
    background-color: lightsalmon;
    text-align: right;
    clear: both;
    padding: 20px 15px;
}

@media  screen and (max-width:1020px) {
    #wrapper{
        width: 800px; 
    }
    #content{
        width: 80%;
    }
    #sidebar{
        width: 18%;
    }
}
@media  screen and (max-width:810px) {
    #wrapper{
        width: 500px; 
    }
    #content{
        width: 65%;
    }
    #sidebar{
        width: 34%;
    }
    
}
@media  screen and (max-width:510px) {
    #wrapper{
        width: auto;
    }
    #content{
        width: auto;
        float: none;
    }
    #sidebar{
        width: auto;
        float: none;
    }
    #header h1 {
        padding:25px 0 0 0;
        text-align: center;
    }
    
}
